<html>
    <head>
        <title>Donor</title>
        <link rel="stylesheet" href="static/css/success2.css">
        
    </head>
    <body>
        <div class="loader_bg">
            <div class="loader"></div>
        <div class="success.css">
        </div>
        <h1>Thanks for Contact</h1>
        <center><h3>-We will notify your registered email address when we get donor-<h3></center>
        <center>   <button class="cn"><a href="/">Back to Home</a></button></center>
        
        <script>
            setTimeout(function(){
                $('.loader_bg').fadeToggle();
            }, 1600);
          </script>
    </body>
</html>