
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/about.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <div class = "content">
                <h2>About Us</h2>
                <span><!-- line here --></span>
                <p>The necessity of blood has become a significant concern in the present context all over the world. Due to a shortage of blood, people couldn’t save themselves or their friends and family members. A bag of blood can save a precious life. Statistics show that a tremendous amount of blood is needed yearly because of major operations, road accidents, blood disorders, including Anemia, Hemophilia, and acute viral infections like Dengue, etc. Approximately 85 million people require single or multiple blood transfusions for treatment. </p>
                <h3>Team Contributors</h3>
                <ul class = "links">
                    <li><a href = "#">Muthukumar</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">Saiganesh</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">Dinesh</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">Rogith</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "/">Back to Home</a></li>
                </ul>
                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class = "fa fa-github"></i>
                    </li>
                    <li>
                        <i class = "fa fa-pinterest"></i>
                    </li>
                </ul>
            </div>
        </section><br><br>
        <div class="credit">@ 2022 Copyright <span style="color:tomato">❤</span> by Muthukumar's Team</div>
    </body>
</html>
