.loader_bg{
  position: fixed;
  z-index: 999999;
  background: rgb(250,28,73);
  background: linear-gradient(90deg, rgba(250,28,73,1) 0%, rgba(253,104,29,1) 50%, rgba(249,171,37,1) 100%);
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  /* border: 1em solid #ff5733; */
  border: 1em solid #e03c33;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 1s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}

body{
    background: rgb(250,28,73);
    background: linear-gradient(90deg, rgba(250,28,73,1) 0%, rgba(253,104,29,1) 50%, rgba(249,171,37,1) 100%);
  background-size: 100% 100%;
}
h3{
  font-family: 'Times New Roman', Times, serif; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:rgb(250, 244, 244);
  text-align: center; 
  text-decoration: none;
}

table{
  font-family: Calibri; 
  color:rgb(17, 17, 17); 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  /* text-align:;  */
  background-color: none;
  border-collapse: collapse; 
  border: none;
  border-radius: 15px;
}
table.inner{
  border: 0px
}

form{
	margin-top :30px;
	width: 35rem;
	height: 40rem;
	display: flex;
	flex-direction: column;
	background: rgba(12, 12, 12, 0.06);
	box-shadow: 0 8px 32px 0 rgba(252, 252, 253, 0.4);
	border-radius: 35px;
	border: 1px solid rgba(255,255,255,0.3);
	
}


button a:visited { text-decoration: none; color:#f8f7f7;}

button a:hover { text-decoration: none; color:#faf6f6; }

a:active { text-decoration: none; }

a:link { text-decoration: none;}
a:visited { text-decoration: none; color:#faf8f8;}
a:hover { text-decoration: none; color:#f8f4f4; }

p{
  color: rgb(5, 5, 5);
}
.btn {
  background-color: rgb(57, 119, 57);
  border-radius: 5px;
  border-color: rgb(57, 119, 57);
}
.cn {
  background-color: rgb(57, 119, 57);
  border: rgb(57, 119, 57);
  font-family: 'Times New Roman', Times, serif;
  width: auto;
  height: auto;
  border-radius: 5px;

}